NOCODB_BASE_URL=https://app.nocodb.com/
NOCODB_API_KEY=your_nocodb_api_key_here
NOCODB_PROJECT_ID=your_project_id
NOCODB_TICKETS_TABLE_ID=your_tickets_table_id
NOCODB_NOTES_TABLE_ID=your_notes_table_id